<section class="about-container">
  <div class="about-image">
    <img class="profile-image" src="../images/about.png" alt="" />
  </div>
  <div class="about-paragraph">
    <p>
      Hello! Thank you for stopping by! Desert Twig offers you wood goods, always hand made from start to finish.<br><br>Produced and managed by husband and wife, we are always looking for new ways to excite our customers. You'll always find the best quality in our products as well as the cutest cuts around.<br><br>If you have any questions at all, please contact us as we would love to help you with any needs!
    </p><br>
    <p>Contact&nbsp<a class="contact-now" ui-sref="contact">Now</a>!</p>
  </div>
</section>
